body{
    margin: 0;
}
.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 2px solid black;
    height: 460px;
}

.header{
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

.layerCanvas {
    display: grid;
    /* grid-template-columns: repeat(16, 12px); */
    box-sizing: border-box;
    border: 2px solid navy;
    width: 371px;
    height: 371px;
}

.colrow:hover {
 background-color: black;
}

input[name ="sizeSlider"] {
    display: none;
}
.configCanvas{
    display: flex;
    justify-content: center;
    border: solid 2px black;
}
.setScale{
    display: flex;
    flex-direction: column;
    /* padding: 20px 0 20px 0; */
    border: solid 2px black;
}
.customPanel {
    display: flex;
    justify-content: center;
    font-family: helvetica,sans-serif;
}
.all-labelScale {
    display: flex;
    flex-direction: row;
}

.labelScale{
    display: flex;
    align-items: center;
    color: #fcd7ad;
    padding: 10px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #a57548;
    font-family: Helvetica, sans-serif;
}

.labelScale:before{
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid #a57548;
    border-radius: 50%;
    margin-right: 10px;
}

input[name ='sizeSlider']:checked + .labelScale{
 background-color: #a57548;
}

input[name ='sizeSlider']:checked + .labelScale:before{
    height: 16px;
    width: 16px;
    border: 5px solid white;
    background-color: #a57548;
   }
   

