.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 2px solid black;
}


.layerCanvas {
    display: grid;
    /* grid-template-columns: repeat(16, 12px); */
    box-sizing: border-box;
    border: 2px solid navy;
}

.colrow:hover {
 background-color: red;
}


.setScale {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

input[name ="sizeSlider"] {
    display: none;
}

.setScale{
    display: flex;
    justify-content: center;
}

.labelScale{
    display: flex;
    align-items: center;
    color: #fcd7ad;
    padding: 10px;
    font-weight: 600;
    border: 2px solid #a57548;
    background-color: #a57548;
    font-family: Helvetica, sans-serif;
}

.labelScale:before{
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid #a57548;
    border-radius: 50%;
    margin-right: 10px;
}

input[name ='sizeSlider']:checked + .labelScale{
 background-color: #a57548;
}

input[name ='sizeSlider']:checked + .labelScale:before{
    height: 16px;
    width: 16px;
    border: 5px solid white;
    background-color: #a57548;
   }
   

